body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container-lang {
  display: flex;
  width: 746px;
  justify-content: right;
  margin: 5px;
}

.container-tags {
  display: flex;
  width: 746px;
  justify-content: space-between;
  margin: -10px 11.25px;
}

.container-reset {
  display: flex;
  width: 746px;
  justify-content: center;
  margin-top: 30px;
}