* {
  font-family: 'Inter', sans-serif;
}

h1, h2 {
  margin: 0;
}

body {
  background: #EEEEEE;
}

@media screen and (max-width: 800px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.container-lang {
  display: flex;
  position: fixed;
  right: 20px;
  top: 20px;
  justify-content: right;
  font-weight: 900;
  font-size: 26px;
  line-height: 31px;
}

@media screen and (max-width: 800px) {
  .container-lang {
    top: unset;
    bottom: 20px;
  }
}

.container-lang button {
  background: #D9D9D9;
  color: #FFFFFF;
  border: none;
  height: 50px;
  width: 77px;
  cursor: pointer;
}

.container-lang button:first-child {
  border-radius: 13px 0 0 13px;
}

.container-lang button:nth-child(2) {
  border-radius: 0 13px 13px 0;
}

.card-content {
  color: black;
  font-size: 21px;
  line-height: 25px;
  padding: 40px;
}

.card {
  margin-top: 40px;
  border-radius: 24px;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  max-width: 782px;
}

.card img {
  height: 100%;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-title {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  max-width: 782px;
}

@media screen and (max-width: 1350px) {
  .container-projects {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  #first-title {
    display: none;
  }
}

@media screen and (min-width: 801px) {
  #second-title {
    display: none;
  }
}

#second-title {
  margin-top: 20px;
}

.card-title img {
  width: 74px;
  height: 87px;
}

.card-title h1 { 
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

h2 {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #838383;
}

.card-right {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.next-btn {
  width: 314px;
  height: 74px;
  background: #EA596E;
  border-radius: 20px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin: 46px auto 63px auto;
  cursor: pointer;
}

.next-btn:focus {
  background: #EA596E;
}

.containter-tags {
  width: 100%;
  max-width: 782px;
  margin-bottom: 50px;
}

.containter-tags p {
  display: inline-block;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
}

.block-tags {
  display: flex; 
  justify-content: left;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.containter-tags button {
  background: #515151;
  border-radius: 9px;
  color: #FFFFFF;
  border: none;
  min-width: 98px;
  min-height: 45px;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.containter-tags svg {
  cursor: pointer;
}
